logic-app/LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "timeZone": "India Standard Time",
                    "startTime": "2025-04-11T02:00:00"
                }
            }
        },
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Query_documents_V5')?['value']",
                "actions": {
                    "Parse_billing_date": {
                        "type": "Compose",
                        "inputs": "@items('For_each')"
                    },
                    "Extract_year_month": {
                        "type": "Compose",
                        "inputs": {
                            "year": "@formatDateTime(outputs('Parse_billing_date'), 'yyyy')",
                            "month": "@formatDateTime(outputs('Parse_billing_date'), 'MM')"
                        },
                        "runAfter": {
                            "Parse_billing_date": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Create_blob_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": "@items('For_each')",
                            "headers": {
                                "ReadFileMetadataFromServer": true
                            },
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                            "queries": {
                                "folderPath": "/archived-billing-records",
                                "name": "@concat(\r\n  formatDateTime(items('For_each')?['billingDate'], 'yyyy'), '/',\r\n  formatDateTime(items('For_each')?['billingDate'], 'MM'), '/',\r\n  items('For_each')?['id'], '.json'\r\n)",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {
                            "Extract_year_month": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "metadata": {
                            "operationMetadataId": "create-blob"
                        }
                    },
                    "Archive_verification": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('Create_blob_(V2)')?['statusCode']",
                                        201
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Log_successful_archive": {
                                "type": "Compose",
                                "inputs": {
                                    "status": "Success",
                                    "message": "Successfully archived and deleted record ",
                                    "timestamp": "@utcNow()"
                                },
                                "runAfter": {
                                    "Delete_Blob": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Delete_Blob": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                        }
                                    },
                                    "method": "delete",
                                    "headers": {
                                        "SkipDeleteIfFileNotFoundOnServer": false
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent(concat(  formatDateTime(items('For_each')?['billingDate'], 'yyyy'), '/',  formatDateTime(items('For_each')?['billingDate'], 'MM'), '/',  items('For_each')?['id'], '.json')))}"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Log_archive_failure": {
                                    "type": "Compose",
                                    "inputs": {
                                        "status": "Failed",
                                        "message": "Failed to archive record ",
                                        "timestamp": "@utcNow()"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Create_blob_(V2)": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Query_documents_V5": [
                        "Succeeded"
                    ]
                },
                "metadata": {
                    "operationMetadataId": "for-each-document"
                }
            },
            "Log_completion_statistics": {
                "type": "Compose",
                "inputs": {
                    "archivedRecords": "@length(body('Query_documents_V5')?['value'])",
                    "completionTime": "@utcNow()",
                    "runId": "@workflow()?['run']['name']"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                }
            },
            "Compose": {
                "type": "Compose",
                "inputs": "@addToTime(utcNow(), -3, 'Month')",
                "runAfter": {}
            },
            "Query_documents_V5": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v5/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('BillingDB')}/colls/@{encodeURIComponent('BillingRecords')}/query",
                    "queries": {
                        "queryText": "SELECT * FROM c WHERE c.billingDate < @cutoffDate\n"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azureblob": {
                    "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/providers/Microsoft.Web/locations/centralindia/managedApis/azureblob",
                    "connectionId": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/billing-system-rg/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob"
                },
                "documentdb": {
                    "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/providers/Microsoft.Web/locations/centralindia/managedApis/documentdb",
                    "connectionId": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/billing-system-rg/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb"
                }
            }
        }
    }
}
